body {
    background-color:  #0063B2FF;
    /*background-image: url("https://image.freepik.com/free-vector/night-forest-dark-starry-background-trees-silhouettes-star-night-background-night-forest_172933-63.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    */
}
#info {
    background-color: #9CC3D5FF;
}
#desc > p {
    font-size: 18px;
}

@media (min-width: 576px) {
    
 }


@media (min-width: 768px) {

}


@media (min-width: 992px) {

}


@media (min-width: 1200px) {

}